NEXT_PUBLIC_API_URL=https://gateway.dev.meu-solutions.com/crm-backend
# NEXT_PUBLIC_APP_URL=https://crm-frontend-hazel-nine.vercel.app
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_ONESIGNAL_APP_ID=

# NEXTAUTH_SECRET=your-secret-key-here
# NEXTAUTH_URL=http://localhost:3000