NEXT_PUBLIC_API_URL=https://gateway.dev.meu-solutions.com/crm-backend
# NEXT_PUBLIC_APP_URL=https://crm-frontend-hazel-nine.vercel.app
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_ONESIGNAL_APP_ID=

# Zalo App ID của hệ thống (Zalo App, KHÔNG phải App ID của khách hàng)
NEXT_PUBLIC_ZALO_APP_ID=3349983058126902532
ZALO_APP_SECRET=xLclTxq78LTE4Ow1JfE3

# [Dev only] Access token thật của Zalo OA để test call API mà không cần chạy OAuth flow
# Lấy từ https://developers.zalo.me/tools hoặc sau khi exchange authorization_code
# NEXT_PUBLIC_ZALO_DEV_ACCESS_TOKEN=
# NEXTAUTH_SECRET=your-secret-key-here
# NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_ZALO_DEV_ACCESS_TOKEN=2XIS8-HYi2iD7P0Zvc2pAWmTaodaVBLG34UO8vDo-2O1MTLZaq7j0HCxpW6e1O5JNnZn3zrbiKyrJ_4WZ4gSN3DrposORhnS2twSN999rY0EPPaeiMFOG3GL-XMlBeviBI_P9PeQf2qD4EGkX0-9L2rq_ZQxUhaq8mUUKfeuqIKB1F5_u0-U3KadlMNB9S0uIocqCQWJbKmtRD0Re12X71G7XMcM4CS_UYgURP1I_MWRP9yUh4_UPpGmdGQA5-KEFZEXVDCzcHfnD_vYpG-78bqrvqRj7RKkK26NPBbMzsS6TjiKb7kvGNW4wGd54hXTQMMTMCbrorr6Tkiov7gBOGzFtJtbRx59L4AGFiLCxZrqCDPdm2gM7omsi5QULCqnTIgVJiKiu0OjKwP_ZINq8GW2kKKuGzfF5J3aTReW